---
# Source: nginx-manager/templates/configmaps.yaml
apiVersion: v1
kind: Secret
metadata:
  name: release-name-nginx-manager-db-secrets
  labels:
    helm.sh/chart: nginx-manager-0.1.0
    app.kubernetes.io/name: nginx-manager
    app.kubernetes.io/instance: release-name
    app.kubernetes.io/version: "1.0.0"
    app.kubernetes.io/managed-by: Helm
type: Opaque
data:
  postgres-password: "cGFzc3dvcmQ="
  clickhouse-password: "cGFzc3dvcmQ="
---
# Source: nginx-manager/templates/configmaps.yaml
apiVersion: v1
kind: ConfigMap
metadata:
  name: release-name-nginx-manager-otel-config
  labels:
    helm.sh/chart: nginx-manager-0.1.0
    app.kubernetes.io/name: nginx-manager
    app.kubernetes.io/instance: release-name
    app.kubernetes.io/version: "1.0.0"
    app.kubernetes.io/managed-by: Helm
data:
  otel-collector-config.yaml: |
    receivers:
      otlp:
        protocols:
          grpc:
          http:

    processors:
      batch:

    exporters:
      clickhouse:
        endpoint: "tcp://clickhouse:9000?database=nginx_analytics"
        username: "default"
        password: "${CLICKHOUSE_PASSWORD}"
        timeout: 5s
        retry_on_failure:
          enabled: true
      logging:
        loglevel: debug

    service:
      pipelines:
        logs:
          receivers: [otlp]
          processors: [batch]
          exporters: [clickhouse, logging]
